@import '../variables.module';

.articleCard {
  background: rgba($HIGH_FIDELITY_PURPLE_COLOR, .2);
  box-shadow: 0 1px 15px $EARNING_CARD_BOX_SHADOW;
  border: 1px solid rgba($HIGH_FIDELITY_BLUE_COLOR, .2);
  border-radius: .00555em;
  padding: .02777em .02222em;

  .articleHeader {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: .01944em;

    .image {
      width: .05em;
      height: .05em;
      position: relative;
    }

    .textWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-size: max(.01666em, 20px);
        font-weight: 700;
        color: $HIGH_FIDELITY_BLUE_COLOR;
        text-transform: uppercase;
      }

      .subtitle {
        font-family: $FONT_ROBOTO;
        font-size: max(.01111em, 15px);
        color: $FONT_DARK_GRAY_COLOR;
      }
    }
  }

  .articleContent {
    display: grid;
    padding-top: .01111em;

    .title {
      font-size: max(.0125em, 16px);
      font-weight: 600;
      color: $FONT_LIGHT_GRAY_COLOR;

      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
    }

    .source {
      font-family: $FONT_ROBOTO;
      font-size: max(.01111em, 15px);
      color: $FONT_DARK_GRAY_COLOR;
      padding: .5em 0 1em;
    }

    .link {
      font-size: max(.01111em, 16px);
      font-weight: 500;
      color: $HIGH_FIDELITY_ORANGE_COLOR;
      text-transform: capitalize;

      display: flex;
      align-items: center;

      .arrow {
        transition: all .3s ease-in-out;
      }

      &:hover {
        .arrow {
          margin-left: .625em;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .articleCard {
    .articleHeader {
      grid-template-columns: 1fr 15fr;
    }
  }
}
