@import '../variables.module';

.button {
  background: $HIGH_FIDELITY_ORANGE_COLOR;
  border-radius: 10px;
  border: 1px transparent solid;
  padding: 1em 1.333em;
  color: $FONT_WHITE_COLOR;
  font-family: $FONT_ROBOTO;
  font-weight: 500;
  font-size: .0125em;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all ease-in-out .3s;

  .arrow {
    transition: all ease-in-out .3s;
    margin-left: .555em;
  }

  &:hover, &:focus {
    background: transparent;
    border: 1px $HIGH_FIDELITY_ORANGE_COLOR solid;

    .arrow {
      margin-left: 1.111em;
    }
  }
}