@import '../variables.module';

.calculatorButton {
  font-weight: 600;
  font-size: .01111em;
  background-color: $HIGH_FIDELITY_ORANGE_COLOR;
  color: $FONT_WHITE_COLOR;
  border-radius: .625em;
  padding: .75em 2.5em;
  border: 1px transparent solid;
  text-align: center;
  text-transform: capitalize;
  width: 10em;

  transition: all ease-in-out .3s;

  &:hover, &:focus {
    background: transparent;
    border: 1px $HIGH_FIDELITY_ORANGE_COLOR solid;
  }
}

@media (max-width: 850px) {
  .calculatorButton {
    margin-top: 1.25em;
    font-size: .01882em;
  }
}

@media (max-width: 450px) {
  .calculatorButton {
    font-size: .03555em;
  }
}