@import '../variables.module';

.form {
  display: grid;
  padding-top: .02777em;
  gap: .02777em;
  grid-auto-columns: 1fr;
  width: 100%;

  .inputWrapper {
    width: 100%;
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    gap: .02777em;

    .checkboxLabel {
      font-size: max(.0104em, 14px);
      font-weight: 400;
      color: rgba($FONT_WHITE_COLOR, .4);
      font-family: $FONT_ROBOTO;

      display: flex;
      align-items: center;

      input {
        margin: 0 .75em 0 0;
      }
    }

    .textInput {
      border: 2px solid $EARNING_CARD_BOX_SHADOW;
      background: $HIGH_FIDELITY_WHITE_COLOR;
      border-radius: .2em;
      color: rgba($FONT_LIGHT_GRAY_COLOR, .4);
      text-shadow: 0 0 3px $CALCULATOR_TEXT_SHADOW_COLOR;
      font-family: $FONT_RALEWAY;
      font-size: max(.01388em, 16px);
      font-weight: 600;

      padding: .8em;

      &:invalid {
        border-color: $HIGH_FIDELITY_BLUE_COLOR;
      }
    }
  }

  .submitButton {
    font-family: $FONT_ROBOTO;
    font-size: max(.0125em, 16px);
    font-weight: 500;

    color: $FONT_WHITE_COLOR;
    background: $HIGH_FIDELITY_ORANGE_COLOR;
    border: 1px transparent solid;
    border-radius: .555em;
    padding: .8888em 1.3333em;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all ease-in-out .3s;

    .arrow {
      transition: all ease-in-out .3s;
      width: max(2.111em, 38px);
      height: max(.666em, 12px);
    }

    &:hover, &:focus {
      background: transparent;
      border: 1px $HIGH_FIDELITY_ORANGE_COLOR solid;

      .arrow {
        margin-left: .555em;
      }
    }
  }
}

.text {
  font-size: .0125em;
}

@media (max-width: 600px) {
  .form {
    .inputWrapper {
      grid-template-columns: 1fr;
      grid-column: 1;
    }
  }
}
