@import '../variables.module';

.contacts {
  display: grid;
  gap: .75em;
  margin-top: 2.8em;

  .link {
    display: flex;
    align-items: center;

    transition: all .3s ease-in-out;

    .img {
      position: relative;
      width: 24px;
      height: 24px;
    }

    .text {
      font-weight: 600;
      font-size: max(1em, 16px);
      padding-left: .5em;
      color: $FONT_WHITE_COLOR;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}
