@import '../variables.module';

.footer {
  padding-top: .06944em;
  padding-bottom: .06944em;
  position: relative;
  z-index: 5;

  h2 {
    text-transform: uppercase;
    color: $HIGH_FIDELITY_WHITE_COLOR;
    font-weight: 700;
    font-size: max(.0566em, 28px);
  }
}
