@import '../variables.module';

.toast {
  position: absolute;
}

.infoCard {
  background: rgba($HIGH_FIDELITY_PURPLE_COLOR, .2);
  backdrop-filter: blur(40px);
  box-shadow: 0 1px 15px $EARNING_CARD_BOX_SHADOW;
  border: 1px solid rgba($HIGH_FIDELITY_BLUE_COLOR, .2);
  border-radius: .4em;
  padding: 1.2em;

  width: 100%;
  height: 100%;
  display: grid;
  place-items: flex-start;

  .value {
    font-size: min(1em, 24px);
    font-weight: 600;
    color: $HIGH_FIDELITY_BLUE_COLOR;
  }

  .title {
    font-family: $FONT_ROBOTO;
    font-size: min(.75em, 19px);
    color: $WIREFRAME_WHITE_COLOR;
  }
}

.infoCardAddress {
  grid-template-columns: 1fr 3fr;
  direction: rtl;
  place-items: center;
  gap: 1.2em;

  .value {
    font-family: $FONT_ROBOTO;
    font-weight: 400;
    font-size: min(.75em, 19px);
    color: $WIREFRAME_WHITE_COLOR;

    padding: .8em 0 .8em .8em;
    border-radius: .26666em;
    background: $HIGH_FIDELITY_WHITE_COLOR;
    border: 2px solid $CALCULATOR_INACTIVE_COLOR;

    width: 100%;
    position: relative;

    .copyBtn {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      font-family: $FONT_ROBOTO;
      font-weight: 500;
      font-size: 1em;
      text-transform: uppercase;

      background-color: $HIGH_FIDELITY_BLUE_COLOR;
      padding: 0 1.266em;
      border-radius: 0 .2666em .2666em 0;
      border: none;
    }
  }

  .title {
    font-family: $FONT_RALEWAY;
    font-weight: 600;
    font-size: min(1em, 24px);
    color: $HIGH_FIDELITY_BLUE_COLOR;
    text-align: left;
  }
}

.infoCardMechanics {
  place-items: center;
  padding: min(.78125em, 25px);

  .value {
    font-family: $FONT_MONTSERRAT;
    font-size: min(1em, 42px);
    font-weight: 800;
  }

  .title {
    font-family: $FONT_RALEWAY;
    font-size: min(.5em, 21px);
    font-weight: 500;
    text-transform: capitalize;
  }
}

/*

@media (max-width: 1600px) {
  .mechanics-info__item {
    padding: 16px 25px;
    justify-content: space-around;
    min-width: 23%;
    width: unset;
  }
}

@media (max-width: 1200px) {
  .card-info__item {
    width: 31%;
  }
  .card-info__item-address {
    width: 100%;
    margin-top: 30px;
  }
  .card-info__item-address .card-info__text {
    width: 200px;
  }
  .card-info__item-address .card-info__active-text {
    width: calc(100% - 200px);
  }
}

@media (max-width: 950px) {
  .mechanics-info__item {
    width: 45%;
  }
}

@media (max-width: 780px) {
  .card-info__item .card-info__active-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
  .card-info__item .card-info__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .card-info__item {
    height: unset;
    min-height: 100px;
    padding: 14px 16px;
    min-width: unset;
  }
  .card-info__item-address {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .card-info__item-address .card-info__active-text {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    padding: 8px 0 8px 12px;
  }
  .mechanics-info__item .card-info__active-text {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .mechanics-info__item .card-info__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
}

@media (max-width: 375px) {
  .mechanics-info__item .card-info__active-text {
    font-size: 16px;
    line-height: 24px;
  }
  .mechanics-info__item {
    min-height: 75px;
  }
}

@media (max-width: 330px) {
  .card-info__item {
    padding: 8px 10px;
  }
}*/
