@import '../variables.module';

.toast {
  position: absolute;
}

.infoCard {
  background: rgba($HIGH_FIDELITY_PURPLE_COLOR, .2);
  backdrop-filter: blur(40px);
  box-shadow: 0 1px 15px $EARNING_CARD_BOX_SHADOW;
  border: 1px solid rgba($HIGH_FIDELITY_BLUE_COLOR, .2);
  border-radius: .4em;
  padding: 1.2em;

  width: 100%;
  height: 100%;
  display: grid;
  place-items: flex-start;

  .value {
    font-size: min(1em, 24px);
    font-weight: 600;
    color: $HIGH_FIDELITY_BLUE_COLOR;
  }

  .title {
    font-family: $FONT_ROBOTO;
    font-size: min(.75em, 19px);
    color: $WIREFRAME_WHITE_COLOR;
  }
}

.infoCardAddress {
  grid-template-columns: 1fr 3fr;
  place-items: center;
  gap: 1.2em;

  .value {
    font-family: $FONT_ROBOTO;
    font-weight: 400;
    font-size: min(.75em, 19px);
    color: $WIREFRAME_WHITE_COLOR;

    padding: .8em 0 .8em .8em;
    border-radius: .26666em;
    background: $HIGH_FIDELITY_WHITE_COLOR;
    border: 2px solid $CALCULATOR_INACTIVE_COLOR;

    width: 100%;
    position: relative;
    grid-column: 2;
    grid-row: 1;

    .copyBtn {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      font-family: $FONT_ROBOTO;
      font-weight: 500;
      font-size: 1em;
      text-transform: uppercase;

      background-color: $HIGH_FIDELITY_BLUE_COLOR;
      padding: 0 1.266em;
      border-radius: 0 .2666em .2666em 0;
      border: none;
    }
  }

  .title {
    font-family: $FONT_RALEWAY;
    font-weight: 600;
    font-size: min(1em, 24px);
    color: $HIGH_FIDELITY_BLUE_COLOR;
    text-align: left;

    grid-column: 1;
    grid-row: 1;
  }
}

.infoCardMechanics {
  place-items: center;
  padding: min(.78125em, 25px);

  .value {
    font-family: $FONT_MONTSERRAT;
    font-size: min(1em, 42px);
    font-weight: 800;
  }

  .title {
    font-family: $FONT_RALEWAY;
    font-size: min(.5em, 21px);
    font-weight: 500;
    text-transform: capitalize;
  }
}

@media (max-width: 650px) {
  .infoCard {
    .value {
      font-size: 15px;
    }

    .title {
      font-size: 12px;
    }
  }

  .infoCardAddress {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 5fr;

    .value {
      text-align: left;
      place-self: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .infoCardMechanics {
    .value, .title {
      text-align: center;
    }
  }
}
