@import "../variables.module";

.projectCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  background: rgba($HIGH_FIDELITY_PURPLE_COLOR, .2);
  backdrop-filter: blur(40px);
  box-shadow: 0 1px 15px $EARNING_CARD_BOX_SHADOW;
  border: 1px solid rgba($HIGH_FIDELITY_BLUE_COLOR, .2);
  border-radius: .01111em;
  padding: .01388em;

  transition: all .3s ease-in-out;

  .image {
    border-radius: 50%;
    width: max(.03888em, 40px);
    height: max(.03888em, 40px);
    overflow: hidden;
    position: relative;
  }

  .label {
    font-size: max(.01944em, 18px);
    font-weight: 700;
    color: $FONT_WHITE_COLOR;
    text-transform: uppercase;
    text-align: center;
  }

  .percent, .soon {
    font-size: max(.01666em, 15px);
    font-weight: 800;
    font-family: $FONT_MONTSERRAT;
    color: $HIGH_FIDELITY_BLUE_COLOR;
  }

  .soon {
    text-transform: capitalize;
  }

  .reward {
    font-size: max(.00833em, 10px);
    color: $WIREFRAME_WHITE_COLOR;
  }

  .link {
    font-size: max(.010416em, 14px);
    color: $HIGH_FIDELITY_ORANGE_COLOR;
    font-family: $FONT_ROBOTO;
    text-transform: capitalize;

    display: flex;
    align-items: center;

    .arrow {
      transition: all .3s ease-in-out;
    }
  }

  .link, .reward {
    font-weight: 500;
  }

  &:hover, &:focus {
    border: 1px solid $HIGH_FIDELITY_BLUE_COLOR;
    transform: scale(1.02);

    .link {
      .arrow {
        margin-left: 10px;
      }
    }
  }
}