@import '../variables.module';

.titlesWrapper {
  text-align: center;
  padding: 0 0 .02777em;
  color: $FONT_LIGHT_GRAY_COLOR;

  .sectionTitle {
    font-size: max(.025em, 36px);
    font-weight: 700;
    text-transform: uppercase;
  }

  .sectionSubtitle {
    font-family: $FONT_ROBOTO;
    font-size: max(.01111em, 14px);
    font-weight: 400;
    padding-top: .625em;
  }
}
