@import "../variables.module";

@keyframes fadeInLeft {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
}

.section {
  padding: 0.125em 0 0;
  position: relative;
  z-index: 2;
}

.headSection {
  .subTitle {
    font-size: max(.025em, 18px);
    text-transform: capitalize;
    color: $FONT_DARK_GRAY_COLOR;
    animation: fadeInRight 1.5s ease;
  }

  .title {
    font-size: max(.0833em, 48px);
    text-transform: uppercase;
    color: $HIGH_FIDELITY_BLUE_COLOR;
    animation: fadeInLeft 1.5s ease;
  }
}

.projectSection {
  .cardsWrapper {
    width: 100%;
    display: grid;
    gap: max(.01388em, 20px);
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, .16em);
    grid-template-rows: repeat(3, .18em);
  }
}

.aboutSection {
  .about, .whatWeDo {
    position: relative;
  }

  .reliableValidator {
    padding: .5em 0;
  }

  .beginnings {
    padding-bottom: .1388em;
  }

  .middleImage {
    position: absolute;
    left: -10%;
    top: 40%;
    width: .5em;
    height: .5em;
  }
}

.blogSection {
  .blogHeader {
    position: relative;
  }

  .blogCardsWrapper {
    width: 100%;
    padding-top: .0486em;
    display: grid;
    gap: .01736em;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, .2em);
  }
}

.calcSection {
  .calcHeader {
    position: relative;

    .stroke {
      font-size: min(.08333em, 120px);
    }
  }
}

.contactSection {
  .contactHeader {
    position: relative;

    .SubTitleBlock {
      p {
        margin-top: 3.5em;
        font-family: $FONT_RALEWAY;
      }
    }

    .stroke {
      font-size: min(.08333em, 120px);
    }
  }

  .contactForm {
    width: 100%;
  }
}

.contactsSection {
  .contactsHeader {
    position: relative;

    .SubTitleBlock {
      p {
        margin-top: 3.5em;
        font-family: $FONT_RALEWAY;
      }
    }

    .stroke {
      font-size: min(.08333em, 120px);
    }
  }
}

.imageWrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .topImage, .bottomImage {
    position: absolute;
    right: 0;
  }

  .topImage {
    top: 0;
    width: 1em;
    height: .8em;
  }

  .bottomImage {
    bottom: 0;
    width: .5em;
    height: .5em;
  }
}

@media (max-width: 850px) {
  .projectSection {
    .cardsWrapper {
      grid-template-columns: repeat(auto-fill, .2em);
      grid-template-rows: repeat(2, .19em);
      grid-auto-rows: 0;

      div {
        transition: all .2s ease-in-out;
      }

      div:nth-child(n+7) {
        visibility: hidden;
        opacity: 0;
      }
    }

    .readMoreProjects {
      margin: -20px auto 0;
    }
  }

  .projectSectionOpen {
    .cardsWrapper {
      grid-auto-rows: .19em;

      div:nth-child(n+7) {
        visibility: visible;
        opacity: 1;
      }
    }

    .readMoreProjects {
      margin: 30px auto 0;
    }
  }
  .aboutSection {
    .middleImage {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .projectSection {
    .cardsWrapper {
      grid-template-columns: repeat(auto-fill, .3em);
      grid-template-rows: repeat(2, .25em);

      div:nth-child(n+5) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .projectSectionOpen {
    .cardsWrapper {
      grid-auto-rows: .3em;

      div:nth-child(n+5) {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 450px) {
  .projectSection {
    .cardsWrapper {
      grid-template-rows: repeat(2, .37em);
    }
  }
  .projectSectionOpen {
    .cardsWrapper {
      grid-auto-rows: .37em;
    }
  }
}

@media (max-width: 350px) {
  .projectSection {
    .cardsWrapper {
      grid-template-columns: repeat(auto-fill, .26em);
      grid-template-rows: repeat(2, .33em);
    }
  }
}


